.button {
  margin: 0 auto;
  width: 100px;
  color: white;
  background-color: red;
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid #AAA;
  border-radius: 4px;
}
